include MANIFEST.in
include *.json
include *.md
include *.py
include *.txt
recursive-include banking *.css
recursive-include banking *.csv
recursive-include banking *.html
recursive-include banking *.ico
recursive-include banking *.js
recursive-include banking *.json
recursive-include banking *.md
recursive-include banking *.png
recursive-include banking *.py
recursive-include banking *.svg
recursive-include banking *.txt
recursive-exclude banking *.pyc
